* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.box-loading {
    display: block;
    margin-top: 55%;
    position: absolute;
    width: auto;
    z-index: 9999;
    height: auto;

    padding: 10px;
    /* background-color: aqua; */
}

.box-loading .box-loading-child {
    padding: 10px;
    /* background-color: red; */
}

.box-loading .box-loading-child img {
    width: 30%;
    margin-left: 35%;
    border-radius: 30px;
    animation: loading 1.6s ease-in-out infinite;
}

@keyframes loading {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

/* box body */
.box-body {
    width: 90%;
    height: 100%;
    padding: 35px 15px 10px 15px;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 1px rgba(96, 96, 97, 0.877);
    border-radius: 10px;
}

.box-body .head-box-body {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin-top: 10px;
    background-color: rgb(0, 179, 149);
}



.box-body .head-box-body h2 {
    font-size: 35px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    line-height: 28px;
}

.box-body .logo {
    width: auto;
    height: auto;
    /* background-color: red; */
    text-align: center;
}

.box-body .logo img {
    width: 40%;
    margin-top: -150px;
    border-radius: 70px;
    border: 5px solid rgb(255, 255, 255);
}

.box-login {
    width: 100%;
    height: auto;
    /* background-color: red; */
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
}

.box-all {
    width: 100%;
    height: auto;
    padding: 9px 0px;
    /* background-color: rgb(255, 0, 221); */
    margin-top: 10px;
    box-sizing: border-box;
}

.box-all input[type="text"],
.box-all input[type="password"] {
    width: 100%;
    height: auto;
    padding: 15px 15px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 2px;
}

.box-all input[type="checkbox"] {
    float: right;
    width: 25px;
    height: 25px;
    color: white;
    margin-top: -4px;
    cursor: pointer;
}


.box-all:last-child {
    margin-top: 40px;
}

.box-all button {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: rgb(0, 95, 190);
    transition: 1s;
    border: none;
    font-size: 19px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(143, 142, 142, 0.712);
}

.box-all button:hover {
    transition: 1s;
    background-color: rgb(4, 0, 255);
}

.box-create-account {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    /* background-color: deepskyblue; */
    margin-top: 10px;
}

.box-create-account p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

.box-create-account p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 1s;
}

.box-create-account p:first-child a:hover {
    color: red;
    transition: 1s;
}

.box-create-account p:last-child a:hover {
    transition: 1s;
    color: rgb(40, 79, 255);
}